# PyCharm project configuration
.idea/

# VSCode project configuration
.vscode/

# default output location for examples
output/
sandbox/

# Python compiled intermediate files (bytecode / binaries)
__pycache__/
*.py[ocd]
*$py.class

# distribution / packaging files created by various tools
build/
develop-eggs/
dist/
sdist/
*.egg-info/

# common virtual environments
env/
venv/
.env/
.venv/
